@font-face {
  font-family: montserratFont;
  src: url(Montserrat-Bold.ttf);
}

body {
 /* text-align: center; */
  padding: 0;
  margin: 0;
  background-color: #e0fbfc ;
}

.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  /* text-align: center; */
}

/* .load-hidden {
 visibility: hidden;
} */

.hero-name {
  position: absolute;
  top: 30%;
  left: 20%;
  color: #3d5a80;
  font-family: montserratFont;
  font-size: 2rem;
}
span {
  color: #ee6c4d;
}

.fade-in-left {
  animation: fadeInLeft 1s;
}

@keyframes fadeInLeft {
  0% { 
    opacity: 0; 
    transform: translateX(-20%);
  }
  100% { 
    opacity: 1; 
    transform: translateX(0)
  }
}

.hero-cta {
  margin-top: -20px;
  margin-bottom: -20px;
}

.btn {
  text-decoration: none;
  color:#3d5a80;
  font-size: .6em;
  border: 1px solid #3d5a80;
  padding: 8px 16px;
}

#about {
  height: 100%;
  background-color: #3d5a80;
  color: #e0fbfc;
}

.section-title {
  margin: 0px;
  text-transform: uppercase;
  text-align: center;
  font-family: montserratFont;
  font-size: 2rem;
  padding-top: 50px;
}